/*
Integrantes del equipo:
- Luis Fallas Carvajal                   Cedula: 305180995
- Diana Fallas Mendez                Cedula: 117770654
- Jean Carlo Jimenez Oviedo     Cedula: 402500956

Curso: EIF209 ProgramacionIV
I Ciclo 2021
*/
/* 
    Created on : 26 jun. 2021, 19:12:40
    Author     : JeanKa
*/

@import "actualizarCartelera.css";

#wrapper{
    height:550px;
}

.oculto{
    margin-bottom: 5px;
}

.oculto input{
    margin-bottom: 5px;
}